name: Publish to crates.io

on:
  push:
    tags: [ 'v*' ] # Triggers when pushing tags starting with 'v'

jobs:
  publish-crate:
    name: Publish crates
    runs-on: ubuntu-latest
    environment: release # Matches crates.io project config
    permissions:
      id-token: write # Required for OIDC token exchange
    steps:
    - uses: actions/checkout@v6
    - uses: rust-lang/crates-io-auth-action@v1
      id: auth
    - name: Run cargo publish
      run: cargo publish
      env:
        CARGO_REGISTRY_TOKEN: ${{ steps.auth.outputs.token }}
